.hom{
    margin-left:10%;
    margin-bottom: 2%;
  }
  
.gen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
    margin:3%;
}
.gen img:hover{
    transform: scale(1.08);
    /* overflow: hidden; */
    filter: grayscale(0%);
    box-shadow: 8px 8px 8px 1px rgba(22, 22, 22, 0.438);
    animation-name: bounce ;
    transition: .6s;
}
.gen p:hover{
    text-shadow: 0px 0px 1px,0px 0px 3px;
}

 .cen{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-weight:bold;
    color:white;
    font-size:1.2rem;
    /* background-color: black ; */
    /* animation-name: zoomIn; */
    /* transition: all 2s ease-in-out; */
 }

/* .bk{
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.gen img {
    width: 220px;
    height: 170px;
    /* border: 2px solid rgb(37, 36, 36); */
    border-radius: 10px;
    box-shadow: 2px 4px 5px 0px rgba(145, 144, 144, 0.438);
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
    margin:3%;
    filter: grayscale(80%);

}